p The request has succeeded. The information returned with the response is dependent on the method used in the request, for example:

p GET    an entity corresponding to the requested resource is sent in the response;

p HEAD   the entity-header fields corresponding to the requested resource are sent in the response without any message-body;

p POST   an entity describing or containing the result of the action;

p TRACE  an entity containing the request message as received by the end server.
