h1 HTTP Status Code List
ul
  each key, val in list
    li
      a(href='/status/' + val) #{val} - #{key}
      - if(val.charAt(0) !== "1")
        | --- 
        a(href='/status/' + val + '/return') return it
